TSG_vs_oncogenes.py
test_barabasi.py
hypothesis_paper_test.py
FinalScriptHeatmap.pygit add
compare_dlphadamard_settings.py
comparison_DW_DLP_freezed_unfreezed.py
crispr_threshold.pickle
crispr_threshold_neg.pickle
crispr_threshold_pos.pickle
file_cleanup.txt
FinalScriptHeatmap.py
test.sh
tmp*
*.tmp
lp_eval_*/
/data/
/code/
EvalNE
disgenet_data
depmap_data
cellline_test_sets
depmap_specific_cancer_df
AROPE
drug_sensitivity_data_STRING
code_metapath2vec
drug_sensitivity_data_reactome
DLP_results
deepwalk-opene_Pan_Cancer_STRING_embsize2_80percentNone_nprPPI5_nprDEP3
cancer_TSG_oncogenes
CellLine_Specific_Benchmark_Res_crispr
deepwalk-opene_Pan_Cancer_STRING_embsize128_80percent_nprPPI5_nprDEP3
CellLine_Specific_Benchmark_Res
CNE
EvalNE_CellLine_specific_Performance_no2
EvalNE_CellLine_specific_total_predictions_no2
EvalNE_PPI_Performance_no2
EvalNE_transductive_legio
General_Benchmark_Res
General_Benchmark_Res_crispr
GraphSAGE
GraphSAGE_input
GraphSAGE_input_crispr
GraphSAGE_logdir
GraphSAGE_logdir_crispr
HartPos
heterogeneous_networks
LP_train_test_splits
LP_train_test_splits_crispr
nrl4lp-public
onlyDEPALL_5epochs02valShuffled_nprPPI5_nprDEP3_reactome_emb128
onlyDEPALL_5epochs02valShuffled_nprPPI5_nprDEP3_reactome_emb128_crispr
onlyDEPALL_5epochs02valShuffled_nprPPI5_nprDEP3_STRING
onlyDEPALL_5epochs02valShuffled_nprPPI5_nprDEP3_STRING_emb128
onlyDEPALL_5epochs02valShuffled_nprPPI5_nprDEP3_STRING_emb128_crispr
onlyDEPALL_5epochs02valShuffled_nprPPI5_nprDEP3_STRING_emb128_crispr_pos-2_029239
onlyDEPperfomance_5epochs02valShuffled_nprPPI5_nprDEP3_reactome
onlyDEPperfomance_5epochs02valShuffled_nprPPI5_nprDEP3_STRING
OpenNE
PANCANCER_nprPPI5_nprDEP3_reactome_emb128
PANCANCER_nprPPI5_nprDEP3_STRING_emb128
PPI_Benchmark_Res
PPI_Benchmark_Res_crispr
ppi_network_scaffolds
PPIALL_5epochs02valShuffled_nprPPI5_nprDEP3_reactome_emb128
PPIALL_5epochs02valShuffled_nprPPI5_nprDEP3_reactome_emb128_crispr
PPIALL_5epochs02valShuffled_nprPPI5_nprDEP3_STRING
PPIALL_5epochs02valShuffled_nprPPI5_nprDEP3_STRING_emb128
PPIALL_5epochs02valShuffled_nprPPI5_nprDEP3_STRING_emb128_crispr
PPIandDEP_5epochs02valShuffled_nprPPI5_nprDEP3_bioplex
PPIandDEP_5epochs02valShuffled_nprPPI5_nprDEP3_reactome
PPIandDEP_5epochs02valShuffled_nprPPI5_nprDEP3_STRING
PPIandDEP_5epochs02valShuffled_nprPPI10_nprDEP3_STRING
PPIandDEP_5epochs02valShuffled_nprPPI10_nprDEP8_STRING
struc2vec
test-crispr
test-rnai
TMP_runfolder_Cellline_ALL_bps
transductive_setting
transductive_setting_20perc
verse